* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html, body {
   margin: 0 auto;
   padding: 0;
   height: 667px;
   width: 375px;
   overflow: hidden;
   background-color: rgba(72, 74, 88, 1);
 }
.wrapper {
  padding: 2%;
}
.status-bar {
  color: gray;
  display: block;
  height: 30px;
}

.status-bar__time {
  display: inline-block;
  float: left;
}
.status-bar__icons {
  display: inline-block;
  float: right;
}

.nav-bar {
  color: white;
  display: block;
  height: 50px;
  font-size: 180%;
}

.nav-bar__menu {
  display: inline-block;

}
  .nav-bar__profile {
    display: inline-block;
    float: right;
  }

  .header {
    color: white;
    height: 60px;
  }
.header__title {
  display: inline-block;
  float: left;
  font-weight: 500;
  font-size: 170%;
}
  .header__action {
    display: inline-block;
    font-size: 160%;
    float: right;
  }

.card {
  border-radius: 6px;
  background-color: gray;
  padding: 5%;
  margin: 2%;
  height: 180px;
}

.card__type {
  color: white;
  font-size: 180%;
}

.card__number {
  color: white;
  font-size: 180%;
  font-family: monospace;
  margin: 5% 0%;
}

.card__section {
  display: inline-block;
}

.card__section--left{
  float: left;
}
.card__section--right{
  float: right;
}

.card__section-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 80%;
}
.card__section-content {
  color: white;
}

.card-info {
  margin: 5%;
  padding: 4%;
}
.card-info__section-title {
  color: rgba(255, 255, 255, 0.5)
}
.card-info__section-content {
  color: white;
}

.green {
  color: green;
}

.red {
  color: red;
}


/* Changes to Slick - sometimes need to be nested or have 'important'*/
 .slider {
   width: 100%;
   margin: 0px auto;
 }
 .slick-slide {
   outline: none;
   margin: 0px 0px;
 }
 .slick-arrow {
   display: none;
 }
 .slick-prev, .slick-next {
   display: none !important
 }

.slick-dots li.slick-active button:before {
     color: #fff !important;
   }
   .slick-dots li button:before {
     font-size: 10px !important;
     color: #fff !important;
   }
